body {
    background-image: url("images/galaxy.webp");
    color: #82a5ca;
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.button {
    border: none;
    padding: 6px 12px;
    background: white;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: bold;
}

.underline {
    border-bottom: 4px solid white;
}

#main-logo {
    width: 120px;
}
