@font-face {
	src: url("fonts/cursedtimerulil-aznm.ttf");
	font-family: "Cursed Timer ULiL";
}

body {
    margin: 0;
	background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

.score-container {
	text-align: center;
}

h3 {
	font-family: Verdana;
	font-size: 40px;
	margin-top: 68px;
	width: 149px;
	height: 36px;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #EEEEEE;
}

p {
	font-family: "Cursed Timer ULiL";
	font-size: 90px;	
	width: 155px;
	height: 120px;
	margin-top: 21px; 	
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #F94F6D;
	background: #080001;
	border-radius: 5px;
}

button {
	font-family: "Cursed Timer ULiL";
	font-size: 18px;
	margin-top: 26px;
	margin-right: 9px;
	color: #9AABDB;
	background: #1B244A;
	border-radius: 5px;
	border: 2px solid #9AABD8;
	width: 45px;
	height: 45px;	
}
