body {
    margin: 0;
    text-align: center;
	font-family: Arial, Syabil, "Proda Sans";
}

#hero-section {
	/* Sizing */
	width: 100vw;
	height: 100vh;

	/* Flexbox stuff */
	display: flex;
	flex-direction: column;
	align-items: center;
 	justify-content: center;

	/* Background styles */
	background-image: url("images/telmo_jimenez_park.jpg");
	background-size: cover;

	color: #FFFFFF
}

#title {	
	background: #1D3557;
	border-radius: 5px;
	padding: 3px 12px 5px;
	margin: auto auto 11px; 
}

#subtitle {
	background: #457B9D;
	border-radius: 5px;
	padding: 5px 29px 8px;
	width: 412px;
	margin: 0 auto auto; 
}


h3 {
	font-size: 24px;
}

#activity-photo {
	border-radius: 50%;
	width: 100px; 
	margin-top: 55px;	
}


.activities-box {
	display: flex;
	flex-direction: column;
	background: #F1FAEE;
}

#title-box {
	margin: 38px auto 0;
}

.activities-container {
	display: flex;
	justify-content: space-evenly;
	margin: 0 0 38px;
}

.item {
	text-align: center;
	width: 197px;	
}

.card {
	display: flex;
	justify-content: space-around;
	width: 400px;
	padding: 23px 13px;
	margin: 50px auto; 
	color: #1D3557;
	border-bottom: 5px solid #1D3557;
	background: #A8DADC;
	border-radius: 7px;
}

.tour-guide-photo {
	border-radius: 7px;
	width: 180px; 

}

#guide-phrase {
	font-style: italic;
}
